/*font-family: 'Open Sans', sans-serif;*/
body {
	background-color: #f2f2f2;
}

.nav {
	background-color: white;
	height: 150px;
	text-align: center;
	margin-bottom: 50px;
}

.navul li {
	list-style-type: none;
	display: inline;
	padding-right: 20px;
}


.navul li a {		
	font-weight: 600;
	font-size: 14px;
	color: #BE1E2D;	
}

.navul ul {
	padding-top: 5px;
}

.logo {
	margin-top: 20px;
}

.navul {
	margin-top: 20px;	
}



.input-group-addon {
	background-color: #BE1E2D;
	border: 1px solid #BE1E2D;
}

.form-control{
	background-color: white;
}


.glyphicon-search {
	color: white;
}

.input-group {
	width: 250px;	
	float: right;
	position: absolute;
	top: 5px;
	right: 5px;

}


.iskanje {
	display: inline-block;
}


h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 25px;
	color: white;
	padding: 15px 0;
}

.kajnudimo, .narocise, .delcas {
	text-align: center;
	background-color: #BE1E2D;
	margin-top: -20px;
	
}

.nudimo {
	margin-top: 50px;
	margin-bottom: 50px;
}


.thumbnail {
	border: none;
	margin: 20px 10px;
	background-color: #f2f2f2;
}

.thumbtext {
	font-family: 'Open Sans', sans-serif;
	color: #6c6f70;
	font-weight: 400;
	font-size: 14px;
	padding-top: 20px;
}

.caption1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.footer {
	margin: 0 auto;
}

.naslov li, .onas li {
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
	font-weight: 300;
	color: #575a5d;
}

.naslov, .onas {
	margin-top: 50px;
	margin-bottom: 20px;
}

.logospodaj {
	margin-top: 20px;
}

.onas a {
	color: #575a5d;
}

.onas a:hover {
	color: #BE1E2D;
}

.quotebox {
	margin: 0 auto;
	background-color: #BE1E2D;
	
}

.quotetext {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	color: white;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	padding: 40px;
}

.ikona-delcas {
	text-align: center;
	margin: 30px;
}

.obrazci {
	padding: 40px 0;
}

.container.obrazci {
	background-image: url(../img/backgroundot.jpg);


}

.table {
	background-color: white;
}

.btn {
	background-color: white;		
}

.btn p {
	color: #BE1E2D;
	padding: 0;
	margin:0;
}

.checkbox p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	font-size: 20px;
	color: #BE1E2D;
	
}

.nedeljski-urnik {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: white;
}

/*panel*/
.panel-heading:hover {
    cursor:pointer;
}
.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.side-tab:hover {
        cursor: pointer;
    }
    .panel.panel-default {
        border: none;
        box-shadow: none !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    .panel-heading {
        border: none;
        background-color: #f2f2f2;
    
    }
    .panel-body {
        background-color: white;
        font-family: 'Open Sans', sans-serif;
    }
    .panel-title {
        font-weight: 400;
        color: $white;
    }
/*end panel*/
/*moj panel*/
.container.faq {
	background-image: url(../img/backgroundot2.jpg);
	padding: 40px;
	padding-bottom: 200px;
}

.panel-title {
	color: #BE1E2D;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

/*end moj panel*/

/*galerija*/

.thumb {
    margin-bottom: 5px;
}

.img-responsive:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.galerija {
	background-image: url("http://static.tumblr.com/ajtokgb/i5dmpm32g/texture.png");
}

/*galerija*/


.zahvala {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 13px;
	text-align: center;
	padding: 20px;
	background-color: #BE1E2D;
	color: white;
	width: 100%;
}

.zahvala a {
	color: #e86db2;
}

.zahvala a:hover {
	color: #fa943e;
}
